## Explaratory Analysis

In [16]:
import pandas as pd
import pickle
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer
import nltk
from nltk.corpus import stopwords

In [17]:
dtm = pd.read_pickle('dtm_text_1.pkl')
df = dtm.transpose()
df_clean = pd.read_pickle('data_clean_1.pkl')
df_clean.head()
dtm.head()

,aa,aaa,aaaa,aaaaa,aaaaaa,aaaaaaa,aaaaaaaa,aaaaaaaaaa,aaaaaaaaaaaaaaaaaaa,aaaaaaaaaaaaaaaaaaaaaaaaayyyyyyyyyyyyyyyiiiiiiiiiiiiiiiaaaaaaaaaahhhhhh,...,überhot,überhottie,überleet,übermensch,übermoms,übernothing,überproducer,überraschenden,überrecommended,üs
rating,,,,,,,,,,,,,,,,,,,,,
5,164,87,8,6,1,1,1,0,1,1,...,0,0,1,0,0,0,0,1,1,0
4,210,109,1,1,0,1,0,0,0,0,...,2,1,0,1,1,0,1,0,0,1
1,166,75,3,3,0,1,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
2,195,98,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
top_dict = {}
for c in df.columns:
    top = df[c].sort_values(ascending=False).head(50)
    top_dict[c]= list(zip(top.index, top.values))

top_dict

{5: [('book', 114921),
  ('great', 94599),
  ('one', 78131),
  ('like', 49857),
  ('read', 48788),
  ('love', 47445),
  ('good', 47091),
  ('best', 45942),
  ('movie', 42583),
  ('time', 35067),
  ('album', 32210),
  ('cd', 31774),
  ('well', 31748),
  ('would', 30823),
  ('get', 30819),
  ('really', 30497),
  ('first', 27131),
  ('music', 24221),
  ('much', 23009),
  ('ever', 22824),
  ('story', 22674),
  ('also', 22606),
  ('dont', 21805),
  ('even', 21299),
  ('many', 20151),
  ('new', 19780),
  ('excellent', 19710),
  ('years', 19434),
  ('recommend', 19163),
  ('buy', 18871),
  ('life', 18489),
  ('way', 18314),
  ('books', 17894),
  ('every', 17616),
  ('ive', 17581),
  ('think', 17511),
  ('better', 17302),
  ('use', 17087),
  ('still', 16800),
  ('little', 16643),
  ('see', 16609),
  ('must', 16603),
  ('never', 16566),
  ('know', 16542),
  ('songs', 16452),
  ('im', 16213),
  ('bought', 16143),
  ('people', 15530),
  ('make', 15475),
  ('old', 15318)],
 4: [('book', 109363),
  ('good', 99384),
  ('great', 83178),
  ('one', 71149),
  ('like', 64701),
  ('read', 44747),
  ('movie', 44457),
  ('would', 43542),
  ('well', 38746),
  ('really', 38608),
  ('get', 33867),
  ('time', 32695),
  ('album', 31066),
  ('first', 30041),
  ('little', 29271),
  ('love', 29053),
  ('story', 28482),
  ('much', 28425),
  ('dont', 25864),
  ('best', 24851),
  ('cd', 24721),
  ('still', 24635),
  ('also', 24615),
  ('better', 22788),
  ('think', 22562),
  ('use', 20108),
  ('even', 19938),
  ('new', 19702),
  ('many', 19544),
  ('music', 19529),
  ('songs', 19234),
  ('way', 19097),
  ('could', 17993),
  ('im', 17989),
  ('nice', 17594),
  ('see', 17504),
  ('film', 17433),
  ('work', 16941),
  ('make', 16830),
  ('fun', 16570),
  ('know', 16306),
  ('people', 16110),
  ('find', 16001),
  ('two', 15960),
  ('easy', 15889),
  ('recommend', 15702),
  ('life', 15637),
  ('back', 15606),
  ('reading', 15173),
  ('bit', 15164)],
 1: [('book', 98988),
  ('one', 74634),
  ('like', 58139),
  ('would', 53955),
  ('movie', 50487),
  ('dont', 49736),
  ('get', 41982),
  ('time', 40797),
  ('good', 39430),
  ('even', 37717),
  ('money', 35094),
  ('buy', 34640),
  ('read', 33782),
  ('product', 29811),
  ('bad', 29400),
  ('really', 27304),
  ('first', 26968),
  ('could', 25175),
  ('waste', 24960),
  ('much', 24896),
  ('work', 24673),
  ('never', 22993),
  ('bought', 22730),
  ('better', 22257),
  ('great', 21444),
  ('back', 21423),
  ('ever', 20771),
  ('im', 20125),
  ('didnt', 19137),
  ('use', 18897),
  ('make', 18883),
  ('got', 18854),
  ('way', 18841),
  ('made', 18535),
  ('people', 18508),
  ('know', 18257),
  ('new', 18190),
  ('think', 18013),
  ('cd', 17876),
  ('want', 17821),
  ('well', 17658),
  ('worst', 17033),
  ('dvd', 16832),
  ('see', 16729),
  ('two', 16687),
  ('many', 16274),
  ('cant', 16111),
  ('nothing', 15882),
  ('another', 15719),
  ('doesnt', 15592)],
 2: [('book', 116563),
  ('one', 77742),
  ('like', 71368),
  ('good', 64980),
  ('would', 57237),
  ('movie', 48129),
  ('get', 43086),
  ('much', 42094),
  ('dont', 40748),
  ('really', 40655),
  ('read', 37835),
  ('time', 36207),
  ('great', 36025),
  ('better', 33657),
  ('first', 32434),
  ('even', 30023),
  ('story', 26567),
  ('well', 26234),
  ('could', 24905),
  ('didnt', 24558),
  ('im', 23247),
  ('way', 22613),
  ('album', 22504),
  ('bad', 22399),
  ('two', 22062),
  ('work', 21980),
  ('think', 21936),
  ('little', 21683),
  ('buy', 20911),
  ('also', 20778),
  ('many', 20744),
  ('use', 20720),
  ('bought', 20621),
  ('new', 19710),
  ('cd', 19668),
  ('make', 19254),
  ('know', 18494),
  ('books', 18452),
  ('back', 18447),
  ('disappointed', 18420),
  ('got', 18353),
  ('product', 18041),
  ('see', 17844),
  ('doesnt', 17833),
  ('film', 17745),
  ('made', 17729),
  ('want', 17317),
  ('found', 17315),
  ('love', 17054),
  ('quality', 17039)]}

In [19]:
# Print the top 15 words in each review
for rating, top_words in top_dict.items():
    print(rating)
    print(', '.join([str(word) for word, count in top_words[0:14]]))
    print('---')

5
book, great, one, like, read, love, good, best, movie, time, album, cd, well, would
---
4
book, good, great, one, like, read, movie, would, well, really, get, time, album, first
---
1
book, one, like, would, movie, dont, get, time, good, even, money, buy, read, product
---
2
book, one, like, good, would, movie, get, much, dont, really, read, time, great, better
---

In [20]:
from collections import Counter
words = []
for rating in df.columns:
    for (word, count) in top_dict[rating]:
        words.append(word)

Counter(words).most_common()

[('book', 4),
 ('great', 4),
 ('one', 4),
 ('like', 4),
 ('read', 4),
 ('good', 4),
 ('movie', 4),
 ('time', 4),
 ('cd', 4),
 ('well', 4),
 ('would', 4),
 ('get', 4),
 ('really', 4),
 ('first', 4),
 ('much', 4),
 ('dont', 4),
 ('even', 4),
 ('many', 4),
 ('new', 4),
 ('way', 4),
 ('think', 4),
 ('better', 4),
 ('use', 4),
 ('see', 4),
 ('know', 4),
 ('im', 4),
 ('make', 4),
 ('love', 3),
 ('album', 3),
 ('story', 3),
 ('also', 3),
 ('buy', 3),
 ('little', 3),
 ('bought', 3),
 ('people', 3),
 ('could', 3),
 ('work', 3),
 ('two', 3),
 ('back', 3),
 ('best', 2),
 ('music', 2),
 ('ever', 2),
 ('recommend', 2),
 ('life', 2),
 ('books', 2),
 ('still', 2),
 ('never', 2),
 ('songs', 2),
 ('film', 2),
 ('product', 2),
 ('bad', 2),
 ('didnt', 2),
 ('got', 2),
 ('made', 2),
 ('want', 2),
 ('doesnt', 2),
 ('excellent', 1),
 ('years', 1),
 ('every', 1),
 ('ive', 1),
 ('must', 1),
 ('old', 1),
 ('nice', 1),
 ('fun', 1),
 ('find', 1),
 ('easy', 1),
 ('reading', 1),
 ('bit', 1),
 ('money', 1),
 ('waste', 1),
 ('worst', 1),
 ('dvd', 1),
 ('cant', 1),
 ('nothing', 1),
 ('another', 1),
 ('disappointed', 1),
 ('found', 1),
 ('quality', 1)]

In [21]:
add_stop_words = [word for word, count in Counter(words).most_common() if count > 2]
len(add_stop_words)

39

In [22]:
for index, col in enumerate(dtm.columns):
    if sum(dtm.iloc[:, index]) < 4:
        add_stop_words.append(col)

In [23]:
# Let's update our document-term matrix with the new list of stop words
dtm = dtm.drop(add_stop_words, axis=1)
dtm.head()

,aa,aaa,aaaa,aaaaa,aaaargh,aaah,aaahhh,aaamerchants,aaargh,aaas,...,était,état,été,éxito,ítem,última,último,única,único,über
rating,,,,,,,,,,,,,,,,,,,,,
5,164,87,8,6,1,3,2,0,2,4,...,1,1,5,2,0,2,3,2,4,0
4,210,109,1,1,1,5,0,0,0,11,...,3,3,3,1,0,3,4,4,10,3
1,166,75,3,3,1,3,2,0,5,5,...,3,0,0,1,4,1,1,1,2,1
2,195,98,1,0,1,2,1,5,2,3,...,4,0,3,0,0,0,3,1,6,0

In [ ]:
stop_words =nltk.corpus.stopwords.words('english')
stop_words.extend(add_stop_words)
data_clean_stop = pd.DataFrame()
data_clean_stop["rating"] = df_clean["rating"].unique()
rows = []
for index in range(0, len(df_clean["rating"])):
    rows.append(" ".join([word for word in df_clean.iloc[index,1].split() if word not in stop_words]))
    print(index)
data_clean_stop["text"] = rows
data_clean_stop.head()

In [ ]:
from wordcloud import WordCloud

wc = WordCloud(stopwords=stop_words, background_color="white", colormap="Dark2",
              max_font_size=150, random_state=42)

In [ ]:
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [16,6]

# rating_name = ['neutral', 'very good', 'good', 'very bad', 'bad']
rating_name = ['very good', 'good', 'very bad', 'bad']
for index, rating in enumerate(data_clean.columns):
    wc.generate(data_clean.text[index])
    plt.subplot(2,2, index+1)
    plt.imshow(wc, interpolation="bilinear")
    plt.axis('off')
    plt.title(rating_name[index])

plt.show()

### Findings

Very good:
+ parts of saying "worth every penny"
+ positive adjecitves enjoyable, amazing, delight
+ superative form - greatest

Very bad:
+

In [ ]:
dtm.to_pickle('dtm_text_2.pkl')
df_clean.to_pickle("data_clean_2.pkl")